body {
	font-family: 'Montserrat', sans-serif;
	background: #000;
}

.contenedor {
	margin: auto;
	display: table;
}

h1 {
	float: left;
	color: #FFF;
	position: relative;
	-webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
}


h1 span {
	position: absolute;
	right: 0;
	width: 0;
	background: #000;
	border-left: 2px solid #fff;

	animation: maquina 5s infinite alternate steps(32);
}

@keyframes maquina {
	0% {
		width: 100%;
	}

	100% {
		width: 0%;
	}
}